/*
Color Scheme

Pink: e1948d
White: fafafa
Brown: 5e4d47
Grey-Brown: 7d6f6b
Pink-Brown: 7F5F59

*/

body {
  font-family: sans-serif;
  background: #5e4d47;
  padding: 48px;
}

h1 {
  color: #e1948d;
  text-align: center;
  font-size: 115px;
}

h2 {
  color: #fafafa;
  text-align: center;
  font-size: 55px;
}

h3 {
  color: #e1948d;
  text-align: center;
  font-size: 55px;
}

p {
  color: #e1948d;
  text-align: center;
  font-size: 25px;
}

p a{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: .5rem;
  background: #7F5F59;
  margin-bottom: 10%; 
}

.main-deck h3 {
  color: #7F5F59;
  text-align: center;
  font-size: 55px;
}
.personal-deck h3 {
  color: #FAFAFA;
  text-align: center;
  font-size: 55px;
}



.icon-top-left {
  position: absolute;
  top: -7%;
  left: -7%;
}

.add-deck h3 {
  color: #FAFAFA;
  text-align: center;
  font-size: 150px; 
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  aspect-ratio: 8 / 5;
  border-radius: 7rem;
  background: #fafafa;
  padding: 10px;
  margin-bottom: 10%; 
}

.card-question {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: auto;
  width: 90%;
  aspect-ratio: 8 / 5;
  border-radius: 7rem;
  background: #fafafa;
  padding: 10px;
}

.question-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 10%; 
}

.main-deck,
.personal-deck,
.add-deck {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  aspect-ratio: 8 / 5;
  padding: 10px;
  margin-bottom: 10%; 
  border-radius: .5rem;
}

.main-deck {
  background: #e1948d;
}

.personal-deck {
  background: #e1948d;
  display: flex;
  align-items: center; 
  position: relative;
}

.add-deck {
  background: #7F5F59;

}

#add-deck-form input[type=text] {
  color: #fafafa;
  background-color: transparent;
  text-align: center;
  font-size: 55px; 
  border: none; 
  outline: none; 
  font-weight: bold;
}

.vertical-align {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90%;
  aspect-ratio: 9 / 5;

}

.button {
  width: 100%;
  height: 25%;
  padding: 20px;
  margin: 10px 0;
  background-color: #E1948D;
  border: 1px solid #E1948D;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
  color: #FAFAFA;
  font-size: 50px;
}

.button2 {
  width: 100%;
  height: 25%;
  padding: 20px;
  margin: 10px 0;
  background-color: #7F5F59;
  border: 1px solid #7F5F59;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
  color: #FAFAFA;
  font-size: 50px;
}

.card-button {
  padding: 20px;
  background-color: #5e4d47;
  border: 1px solid #5e4d47;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
  color: #FAFAFA;
  font-size: 75px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.user-input {
  width: 100%;
  height: 20%;
  padding: 20px;
  margin: 10px 0;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 4px;
  box-sizing: border-box;
  color: #463835;
  font-size: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-error, .login-error {
  font-size: 30px;
}

.search-container {
  margin-bottom: 40px;
}

#searchBar {
  width: 92%;
  padding: 15px;
  font-size: 35px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fafafa;
  background-color: #7d6f6b;
}
#searchBar::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: #d2c1bd;
}

.text-card {
  font-family: sans-serif;
  color: #e1948d;
  padding: 5px;
  width: 13em;
  min-height: 1em;
  overflow: auto;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  outline: none; 
}

.logout {
  float: right;
  background-color: #7d6f6b;
  color: #FAFAFA;
  font-size: 30px;
  border-radius: 4px;
  font-weight: bold;
  padding: 20px;
}


#add-deck-form .user-input {
  position: absolute;
  width: 80%;
  bottom: 7%;
}

/* Confirm Delete Modal */

.modal-container {
  padding: 16px;
  text-align: center;
  padding-bottom: 10%;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: #474e5d;
  padding-top: 35%;
}

.modal-content {
  background-color: #fafafa;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%; 
  border-radius: 7rem;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.frog-image {
  height: 500px;
}