body {
  font-family: sans-serif;
  background: #5e4d47;
  padding: 48px;
}

h1 {
  color: #e1948d;
  text-align: center;
  font-size: 115px;
}

h2 {
  color: #fafafa;
  text-align: center;
  font-size: 55px;
}

h3 {
  color: #e1948d;
  text-align: center;
  font-size: 55px;
}

p {
  color: #e1948d;
  text-align: center;
  font-size: 25px;
}

p a{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: .5rem;
  background: #7F5F59;
  margin-bottom: 10%; 
}

.main-deck h3 {
  color: #7F5F59;
  text-align: center;
  font-size: 55px;
}
.personal-deck h3 {
  color: #FAFAFA;
  text-align: center;
  font-size: 55px;
}

.add-deck h3 {
  color: #FAFAFA;
  text-align: center;
  font-size: 150px; 
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  aspect-ratio: 8 / 5;
  border-radius: 7rem;
  background: #fafafa;
  padding: 10px;
  margin-bottom: 10%; 
}

.card-question {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  aspect-ratio: 8 / 5;
  border-radius: 7rem;
  background: #fafafa;
  padding: 10px;
}

.question-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 10%; 
}

.main-deck,
.personal-deck,
.add-deck {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  aspect-ratio: 8 / 5;
  padding: 10px;
  margin-bottom: 10%; 
  border-radius: .5rem;
}

.main-deck {
  background: #e1948d;
}

.personal-deck {
  background: #e1948d;
}

.add-deck {
  background: #7F5F59;

}

.add-deck-form {
  position: fixed;
  top: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  width: 90%;
  aspect-ratio: 8 / 5;
  padding: 10px;
  margin-bottom: 10%; 
  border-radius: .5rem;
  background: #7F5F59;
  text-align: center;
}

.add-deck-form input[type=submit] {
  color: #63514F;
  background: #D9D9D9;
  text-align: center;
  font-size: 55px; 
  border-radius: .5rem;
  padding: 40px;
}

.add-deck-form input[type=text] {
  color: #63514F;
  background: #D9D9D9;
  text-align: center;
  font-size: 55px; 
  border-radius: .5rem;
}

.add-deck-form label {
  color: #D9D9D9;
  text-align: center;
  font-size: 55px; 
  border-radius: .5rem;
}

.add-deck-form p {
  position: absolute;
  top: .1rem;
  left: 1rem;
  color: #D9D9D9;
  font-size: 55px; 
  margin: 0;
}

.vertical-align {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90%;
  aspect-ratio: 9 / 5;

}

.button {
  width: 100%;
  height: 25%;
  padding: 20px;
  margin: 10px 0;
  background-color: #E1948D;
  border: 1px solid #E1948D;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
  color: #FAFAFA;
  font-size: 50px;
}

.button2 {
  width: 100%;
  height: 25%;
  padding: 20px;
  margin: 10px 0;
  background-color: #7F5F59;
  border: 1px solid #7F5F59;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
  color: #FAFAFA;
  font-size: 50px;
}

.card-button {
  padding: 20px;
  background-color: #5e4d47;
  border: 1px solid #5e4d47;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
  color: #FAFAFA;
  font-size: 75px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.user-input {
  width: 100%;
  height: 20%;
  padding: 20px;
  margin: 10px 0;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 4px;
  box-sizing: border-box;
  color: #463835;
  font-size: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-error, .login-error {
  font-size: 25px;
}

.search-container {
  margin-bottom: 40px;
}

#searchBar {
  width: 90%;
  padding: 15px;
  font-size: 25px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#close-icon {
  position: absolute;
  top: 35%;
  left: 13%;
  transform: translate(-50%, -50%);
}

#card-form textarea {
  font-family: sans-serif;
  color: #e1948d;
  text-align: center;
  font-size: 55px;
  text-transform: uppercase;
  padding-top: 7rem;
  padding-bottom: 7rem;
  width: 40rem;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}