<!DOCTYPE html>
<html>
  <head>
    <title>DIVE DEEPER Mobile Web App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="https://kit.fontawesome.com/4ffaeac2d2.js" crossorigin="anonymous"></script>
  </head>
  <body>

    {% if isAuth %}
        <a class="logout" href="{{ url_for('logout') }} " style="text-decoration:none">Logout</a>
    {% endif %}


    <div class="container">
      <header>
        
        <a href="{{ url_for('home')}}" style="text-decoration:none">
          <h1>DIVE DEEPER</h1>
        </a>
      </header>
    </div>

	<main>{% block container %} {% endblock %}</main>
    
    <div class="image">
      <a href="{{ url_for('home')}}">
        <img src="/static/images/otter.gif" alt="otter.gif">
      </a>
    </div>
      
    <p>Made by GAS2.</p>
    <p>
      <a target="_blank" href="https://icons8.com/icon/7703/cancel">Close</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </p>

  </body>
</html>
