<!DOCTYPE html>
<html>
  <head>
    <title>DIVE DEEPER Mobile Web App</title>
    <link
      rel="stylesheet"
      href="/static/css/style.css"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo">
            <div class="title">
              <h1>DIVE DEEPER</h1>
            </div>
          </div>        
      </header>
    </div>

	<main>{% block container %} {% endblock %}</main>
    
    <div class="image">
      <a href="/"><img src="/static/images/otter.gif" alt="otter.gif"></a>
    </div>
      
  </body>
</html>
