{% extends 'base.html' %}

{% block container %}

    <div class="box">
        <h2> {{ deckTitle }}</h2>
    </div>
    
    <div id="card" class="card">
        <h3 id="next-question"> START </h3>
    </div>

    <a href="{{ url_for('addCard', username='guest', deckTitle=deckTitle) }}" style="text-decoration:none">
        <button class="button2" >Add Card</button>
    </a>
    <a href="{{ url_for('editCard', username='guest', deckTitle=deckTitle, cardIndex=cardIndex ) }}" style="text-decoration:none">
        <button class="button2">Edit</button>
    </a>

    <script>
        const nextQuestion = document.querySelector("#next-question");
        const card = document.querySelector("#card");
        var cardIndex = 0;
        var questions = '{{ cardList }}'
        questions = questions.replaceAll("&#39;","\"")
        var cardList = Array.from(JSON.parse(questions))
        cardList.push("END OF DECK")
        card.addEventListener("click", function() {
            nextQuestion.textContent = cardList[cardIndex];
            if (cardIndex < cardList.length-1) {
                cardIndex += 1;
            }
        });
    </script>

{% endblock %}

