{% extends 'base.html' %}

{% block container %}

    <div class="box">
        <h2> {{ deckTitle }}</h2>
    </div>

    <div class="question-box" id="question-box">
        <button id="prevButton" class="card-button" style="opacity: 0.2">&#8249;</button>

        <div id="card" class="card-question">
            <h3 id="next-question"> START </h3>
        </div>

        <button id="nextButton" class="card-button">&#8250;</button>
        
    </div>

    {% if isAuth %}

        <form method="post" id="card-form" style="display: none">
            <div class="question-box">
                <div class="card-question">
                    <div class="vertical-align">
                        <svg id="close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="120px" height="120px">
                            <circle fill="#63514F" cx="15" cy="15" r="10" />
                            <path fill="#D9D9D9" d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16.414,15 c0,0,3.139,3.139,3.293,3.293c0.391,0.391,0.391,1.024,0,1.414c-0.391,0.391-1.024,0.391-1.414,0C18.139,19.554,15,16.414,15,16.414 s-3.139,3.139-3.293,3.293c-0.391,0.391-1.024,0.391-1.414,0c-0.391-0.391-0.391-1.024,0-1.414C10.446,18.139,13.586,15,13.586,15 s-3.139-3.139-3.293-3.293c-0.391-0.391-0.391-1.024,0-1.414c0.391-0.391,1.024-0.391,1.414,0C11.861,10.446,15,13.586,15,13.586 s3.139-3.139,3.293-3.293c0.391-0.391,1.024-0.391,1.414,0c0.391,0.391,0.391,1.024,0,1.414C19.554,11.861,16.414,15,16.414,15z"/>
                        </svg>
                        <textarea name="question" required placeholder="Type..."></textarea>
                        <input type="hidden" name="oldQuestion"> 
                        <button class="button">Done</button>
                    </div>
                   
                </div>
            </div>
        </form>

        <button id="add-card-button" class="button2" >Add Card</button>
        <button id="edit-card-button" class="button2" style="display: none">Edit</button>

        <form method="post" id="delete-form">
            <input type="hidden" name="question" id="delete-form-question" value=""></input>
            <button id="delete-card-button" class="button2" style="display: none">Delete Card</button>
        </form>

        {% from 'macros.html' import logout %}
        {{ logout() }}

    {% endif %}


    <script>
        // Selecting DOm elements
        const nextQuestion = document.querySelector("#next-question");
        const card = document.querySelector("#card");
        const prev = document.querySelector("#prevButton");
        const next = document.querySelector("#nextButton");
        const isAuth = ("{{ isAuth }}" == "True")

        // cardIndex = -1 indicates card == "START"
        var cardIndex = -1;
        var questions = '{{ cardList }}'

        // Processing questions string
        questions = questions.replaceAll("&#39;","'")
        questions = questions.replaceAll("&#34;","\"")
        questions = questions.replaceAll("\r","")
        questions = questions.replaceAll("\n","")

        // parsing cardList JSON string
        var cardList = Array.from(JSON.parse(questions))
        cardList.push("END OF DECK")

        // Function for navigating to the previous card
        function prevCard() {
            if (cardIndex > -1) {
                cardIndex -= 1;
                nextQuestion.textContent = cardList[cardIndex]
                next.style.opacity = 1
                if (isAuth) {
                    document.querySelector("#add-card-button").style.display="initial"
                    document.querySelector("#edit-card-button").style.display="initial"
                    document.querySelector("#delete-card-button").style.display="initial"
                }
            }
            if (cardIndex == -1){
                nextQuestion.textContent = "START"
                prev.style.opacity = 0.2
                if (isAuth) {
                    document.querySelector("#add-card-button").style.display="initial"
                    document.querySelector("#edit-card-button").style.display="none"
                    document.querySelector("#delete-card-button").style.display="none"
                }
            }
        }

        // Adding event listener to previous button
        prev.addEventListener("click", prevCard);

        // Function for navigating to the next card
        function nextCard() {
            if (cardIndex < cardList.length-1) {
                cardIndex += 1
                nextQuestion.textContent = cardList[cardIndex]
                prev.style.opacity = 1.0
                if (isAuth) {
                    document.querySelector("#add-card-button").style.display="initial"
                    document.querySelector("#edit-card-button").style.display="initial"
                    document.querySelector("#delete-card-button").style.display="initial"
                }
            }
            if (cardIndex == cardList.length-1) {
                next.style.opacity = 0.2
                if (isAuth) {
                    document.querySelector("#add-card-button").style.display="none"
                    document.querySelector("#edit-card-button").style.display="none"
                    document.querySelector("#delete-card-button").style.display="none"
                }
            }
        }
        // Adding event listeners for next carc
        card.addEventListener("click", nextCard);
        next.addEventListener("click", nextCard);
        
        if (isAuth) {
            const username = "{{ username }}"
            let deckTitle = "{{ deckTitle }}"

            // Replacing HTML entities with characters in deck title
            deckTitle = deckTitle.replaceAll("&#39;","'")

            // Adding event listener for 'Add Card' button
            const addButton = document.querySelector("#add-card-button")
            if (addButton) {
                addButton.addEventListener("click", async function() {
                    // Hiding elements and displaying card form
                    document.querySelector("#next-question").style.display="none"
                    document.querySelector("#add-card-button").style.display="none"
                    document.querySelector("#edit-card-button").style.display="none"
                    document.querySelector("#delete-card-button").style.display="none"
                    document.querySelector("#card-form").style.display="initial"

                    document.querySelector("#question-box").style.display="none"

                    // Setting form action for adding a card
                    document.querySelector("#card-form").action="/" + username + "/" + deckTitle + "/" + cardIndex + "/add"
                })
            }

            // Adding event listener for 'Edit' button
            const editButton = document.querySelector("#edit-card-button")
            if (editButton){
                editButton.addEventListener("click", function() {
                    // Hiding elements and displaying card form with current card content
                    document.querySelector("#next-question").style.display="none"
                    document.querySelector("#add-card-button").style.display="none"
                    document.querySelector("#edit-card-button").style.display="none"
                    document.querySelector("#delete-card-button").style.display="none"
                    document.querySelector("#card-form").style.display="initial"
                    document.querySelector("#card-form textarea").textContent = cardList[cardIndex]
                    document.querySelector("#card-form input").value = cardList[cardIndex]

                    document.querySelector("#question-box").style.display="none"

                    // Setting form action for editing a card
                    document.querySelector("#card-form").action="/" + username + "/" + deckTitle + "/" + cardIndex + "/edit"
                })
            }

            // Adding event listener for close icon
            const closeIcon = document.querySelector("#close-icon")
            if (closeIcon) {
                closeIcon.addEventListener("click", function() {
                    // Handling display of elements based on card index
                    if (cardIndex == -1){
                        document.querySelector("#next-question").style.display="initial"
                        document.querySelector("#add-card-button").style.display="initial"
                        document.querySelector("#edit-card-button").style.display="none"
                        document.querySelector("#delete-card-button").style.display="none"
                    }
                    else {
                        document.querySelector("#next-question").style.display="initial"
                        document.querySelector("#add-card-button").style.display="initial"
                        document.querySelector("#edit-card-button").style.display="initial"
                        document.querySelector("#delete-card-button").style.display="initial"   
                    }
                    // Resetting card form content and displaying question box
                    document.querySelector("#card-form").style.display="none"
                    document.querySelector("#card-form textarea").textContent = ""
                    document.querySelector("#card-form input").value = ""
                    document.querySelector("#question-box").style.display="flex"
                })
            }

            // Add event listener for 'Delete Card' button
            const deleteButton = document.querySelector("#delete-card-button")
            if (deleteButton) {
                deleteButton.addEventListener("click", async function() {
                    // Getting question to be deleted and setting form action for deletion
                    const question= document.querySelector("#next-question").textContent
                    document.querySelector("#delete-form-question").value = question
                    console.log(document.querySelector("#delete-form-question").value)
                    document.querySelector("#delete-form").action="/" + username + "/" + deckTitle + "/" + (cardIndex-1) + "/delete"
                })
            }
        }
    </script>

{% endblock %}

