{% extends 'base.html' %}

{% block container %}

    <div class="box">
        <h2> {{ deckTitle }}</h2>
    </div>
    
    {% for question in cardList %}
        <div class="card">
            <h3>{{ question }}</h3>
        </div>
    {% endfor %}  

    <a href="{{ url_for('addCard', username='guest', deckTitle='temp') }}" style="text-decoration:none">
        <button class="button2" >Add Card</button>
    </a>
    <a href="{{ url_for('editCard', username='guest', deckTitle='temp', cardIndex='1' ) }}" style="text-decoration:none">
        <button class="button2">Edit</button>
    </a>

{% endblock %}