{% extends 'base.html' %}

{% block container %}

{% for deck in mainDecks %}
<div class="main-deck">
    <!--a href="/{{ username }}/{{ deck.title}}"><h3>{{ deck.title }}</h3></a-->
    <!--a href="{{ url_for('edit', post_id=doc._id)}}"></a-->
    <a href="{{ url_for('displayDeck', username='lalalala', deckTitle=deck.title)}}"><h3>{{ deck.title }}</h3></a>
</div>
{% endfor %}

{% for deck in personalDecks %}
<div class="personal-deck">
    <a href="{{ url_for('home') }}"><h3>{{ deck.title }}</h3></a>
</div>
{% endfor %}

{% endblock %}