{% extends 'base.html' %}

{% block container %}

<div class="card">
    <form class="vertical-align" action="{{url_for('login')}}" method="post">
        <input class="user-input" type="username" name="username" placeholder="Username" required>
        <input class="user-input" type="password" name="password" placeholder="Password" required>
        {% if invalid_login %}
            <p class="login-error"> Password or username is invalid </p> 
        {% endif %}
        <input class="button" type="submit" value="Login">
    </form>
</div>

{% endblock %}
