<!DOCTYPE html>
<html>
  <head>
    <title>DIVE DEEPER Mobile Web App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo">
            <div class="title">
              <h1>DIVE DEEPER</h1>
              <nav>
                <a href="{{ url_for('home')}}">Home</a>
              </nav>
            </div>
          </div>        
      </header>
    </div>

    <div class="container">
        <div class="card">
            <h3>build deeper connections with people.<h3>
            </div>
      </div>
      
  </body>
</html>